<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Minesweeper Multi</title>
</head>
<body>
<div id="app" class="container my-5">
  <a href="/mines/">Home</a>
  <template v-if="ready">
    <template v-if="!game_id">
      <div id="game_creation" v-if="!game_id">
        <button type="submit" class="btn btn-primary" v-on:click="create_game">Create a game</button>
      </div>
    </template>
    <template v-if="game_id">
      <div class="row" v-for="url in urls">
        <div class="col-7">
          <input type="text" readonly class="form-control" id="player_1_link" v-bind:value="url">
        </div>
        <div class="col-auto">
          <button class="btn" v-on:click="copy(url)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
              <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg>
          </button>
        </div>
        <div class="col-auto">
          <a class="btn" v-bind:href="url">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
              <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
            </svg>
          </a>
        </div>
      </div>
    </template>
    <template v-if="game">
      <h1 v-if="!game.game_status.over">{{ game.game_status.turn_of == player_id ? "Your turn" : "Wait for your opponent's move" }}</h1>
      <h1 v-if="game.game_status.over">Game over</h1>
      <p class="text-justify">
        Your score: {{ is_player_1 ? game.game_status.score.player_1 : game.game_status.score.player_2 }}<br />
        You opponent's score: {{ is_player_1 ? game.game_status.score.player_2 : game.game_status.score.player_1 }}<br />
        {{ game.game_status.remaining_mines }} mines remaining
      </p>
      <table class="d-flex justify-content-center">
        <tr v-for="row in game.game_status.grid">
          <td v-for="cell in row"><img v-bind:src="get_img(cell)" v-on:click="click(cell)" /></td>
        </tr>
      </table>
    </template>
  </template>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="/mines/script.js"></script>
</body>
</html>
